// Default Theme Color Palette

// Red
$red-light: #c4746e;
$red-dark: #cc241d;

// Pink
$pink-light: #c4746e;
$pink-dark: #b16286;

// Purple
$purple-light: #a292a3;
$purple-dark: #ab62b1;

// Blue
$blue-light: #c5c9c5;
$blue-dark: #DCD7BA;

// Teal
$teal-light: #8ea4a2;
$teal-dark: #689d6a;

// Green
$green-light: #8a9a7b;
$green-dark: #98971a;

// Yellow
$yellow-light: #c4b28a;
$yellow-dark: #d79921;

// Orange
$orange-light: #e46876;
$orange-dark: #d65d0e;

// Grey
$grey-050: #DCD7BA;
$grey-100: #DCD7BA;
$grey-150: #DCD7BA;
$grey-200: #DCD7BA;
$grey-250: #223249;
$grey-300: #223249;
$grey-350: #223249;
$grey-400: #2A2A37;
$grey-450: #2A2A37;
$grey-500: #2A2A37;
$grey-550: #2A2A37;
$grey-600: #1F1F28;
$grey-650: #1F1F28;
$grey-700: #1F1F28;
$grey-750: #1F1F28;
$grey-800: #1F1F28;
$grey-850: #1F1F28;
$grey-900: #1F1F28;
$grey-950: #1F1F28;

// White
$white: #DCD7BA;

// Black
$black: #1F1F28;

// Button
$button-close: #C34043;
$button-max: #DCA561;
$button-min: #98BB6C;

// Link
$links: #8ba4b0;

// Theme
$default-light: $blue-light;
$default-dark: $blue-dark;
